
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <div class="card" style="width: 38rem;">
        <img class="card-img-top" src="~/Uploads/MakaleFoto/hakkimizda.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                GBC, 2013 yılında GBC Bilişim tarafından hayata geçirilmiş bir projedir. Dünya ve Türkiye gündeminde yer alan teknoloji ve oyun haberlerini, herkesin anlayacağı bir dil ile kullanıcılarına sunar. Teknolojik ürünler ve oyunlar hakkında samimi ve yalın bir sunum anlayışı ile video incelemeleri yapar, sadece gerekli bilgileri vererek ziyaretçilerini teknoloji dünyası hakkında bilinçlendirmeyi amaç edinir.
            </p>
            GBC, tarafsız bir teknoloji haber portalı olup, içeriklerini kendi yazar kadrosuyla üretmektedir. Ziyaretçilerinin ilgi duyduğu teknoloji alanında makaleler ve videolar ile güncel içerikleri onlara ücretsiz olarak sunmaktadır.
            <p>
                GBC ekibi ile iletişime geçmek için info@gbc.com e-posta adresini kullanabilirsiniz. Daha detaylı ulaşım bilgileri için iletişim ve künye sayfalarını ziyaret edin.
            </p>
        </div>
    </div>
</div>